<div class="row">
  <div class="card col-md-4 col-sm-6 p-2" *ngFor="let item of films">
    <figure class="figure">
      <img
        [src]="item.image"
        class="card-img-top img-fluid"
        [alt]="item.original_title"
      />
    </figure>
    <div class="card-body">
      <h5 class="card-title">
        {{ item.title }}
      </h5>
      <h6 class="card-subtitle text-muted">{{ item.original_title }}</h6>
      <div class="accordion" [id]="'accordionMain' + item.id">
        <div class="accordion-item mt-2">
          <h2 class="accordion-header" [id]="'heading' + item.id">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + item.id"
              [attr.aria-controls]="'collapse' + item.id"
            >
              Description
            </button>
          </h2>
          <div
            [id]="'collapse' + item.id"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + item.id"
          >
            <div class="accordion-body">
              {{ item.description }}
            </div>
          </div>
        </div>
        <div class="accordion-item mt-2">
          <h2 class="accordion-header" [id]="'heading' + item.original_title">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + item.original_title"
              [attr.aria-controls]="'collapse' + item.original_title"
            >
              Adicional information
            </button>
          </h2>
          <div
            [id]="'collapse' + item.original_title"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + item.id"
          >
            <div class="accordion-body">
              <p>Director: {{ item.director }}</p>
              <p>Producer: {{ item.producer }}</p>
              <p>Release date: {{ item.release_date | date }}</p>
              <p>RT score: {{ item.rt_score }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted"
        >API information <a [href]="item.url">Here</a></small
      >
    </div>
  </div>
</div>
