<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'"
      ><img
        class="img-fluid"
        src="https://ghibliapi.herokuapp.com/images/logo.svg"
        alt="Studio Glibi"
        width="125"
        height="125"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            [routerLink]="'/'"
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/films']"
            class="nav-link"
            [routerLinkActive]="['active']"
            >Films</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/people']"
            class="nav-link"
            [routerLinkActive]="['active']"
            >People</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/species']"
            class="nav-link"
            [routerLinkActive]="['active']"
            >Species</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/locations']"
            class="nav-link"
            [routerLinkActive]="['active']"
            >Locations</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/vehicles']"
            class="nav-link"
            [routerLinkActive]="['active']"
            >Vehicles</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
